<!-- views/agregar.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Agregar Usuario</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Agregar Usuario</h1>
  <form action="/agregar" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="correo" required>
    <br>
    <input type="submit" value="Agregar">
  </form>
</body>
</html>
