<!-- views/agregar.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Agregar Producto</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Agregar Categoria</h1>
  <form action="/agregarcategoria" method="post">
    <label for="Nombre">Nombre:</label>
    <input type="text" id="Nombre" name="Nombre" required>
    <br>
    <input type="submit" value="Agregar">
  </form>
</body>
</html>


