<!-- views/editar.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>eliminar Fabricante</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Editar Fabricantes</h1>
  <form action="/eliminarfabricante/<%= fabricante.id %>" method="post">
    <label for="Nombre">Nombre:</label>
    <input type="text" id="Nombre" name="Nombre" value="<%= fabricante.nombre %>" required>
    <br>
    <input type="submit" value="Guardar">
  </form>
</body>
</html>
