<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>fabricantes</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Fabricantes</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
    </tr>
    <% fabricantes.forEach(fabricantes => { %>
      <tr>
        <td><%= fabricantes.id %></td>
        <td><%= fabricantes.Nombre %></td>
        <td>
          <a href="/editarfabricante/<%= fabricantes.id %>">Editar</a>
          <a href="/eliminarfabricante/<%= fabricantes.id %>">Eliminar</a>
        </td>
      </tr>
    <% }) %>
  </table>
  <a href="/agregarfabricante">Agregar fabricante</a>
  <a href="/">HOME</a>
</body>
</html>
